


/* src/styles/globals.css */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* src/styles/globals.css */
/*
.appContainer {
  display: flex;
}

.contentContainer {
  flex: 1;
  padding: 20px;
}

.themeToggleButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}
*/